<div id="sb-categories">
    <p class="sidebar-header">My Profile Configurations</p>
    <div id="navigation">
        <ul class="top-level">
            <li>@Html.ActionLink(@Mui.Account_Information, "EditSingle", "User")</li>
            <li>@Html.ActionLink(@Mui.BillingInformation, "EditBilling", "UserBillingInformation")</li>
            <li>@Html.ActionLink(@Mui.Addresses, "Index", "Branch")</li>
            <li>@Html.ActionLink(@Mui.MediaDocuments, "Index", "MediaDocument")</li>
            <li>@Html.ActionLink(@Mui.NotificationFrequencies, "Index", "Frequency")</li>
            <li>@Html.ActionLink(@Mui.ProductCategories, "Index", "ProductCategory")</li>
        </ul>
    </div>
</div>

    