@{
    Layout = "~/Views/Shared/_LayoutMyProfile.cshtml";
 
}


@section previewLeftSidebarSection {
    @Html.Partial("SideBar/SideBarMyProfile")
}




@*<p>
    @Html.Awe().PopupActionLink().LinkText(Mui.About).Url(Url.Action("About","Home")).Fullscreen(true).Modal(true)
</p>
<p>
  @Html.Action("index", "mui")
 </p>                     
                       
<p>                       
 @Html.Action("Index", "ChangeTheme")
 </p>                    
<p>
@Html.ActionLink(@Mui.Country, "index","country")
</p>
<p>
    @Html.ActionLink(@Mui.Location, "index","branch")
</p>

<p>
    @Html.ActionLink(@Mui.ProductCategories, "index","ProductCategory")
</p>
<p>
    @Html.ActionLink(@Mui.Products, "index","Product")
</p>
<p>
    @Html.ActionLink(@Mui.Promotions, "index","Promotion")
</p>
<p>
    @Html.ActionLink(@Mui.PaymentGateWay, "index","PaymentGateway")
</p>
<p>
  @Html.ActionLink(Mui.FeedBacks, "Index", "Feedback")
</p>     
  *@

