@model IEnumerable<Branch>
@foreach (var o in Model)
{
    <tr data-val="@o.Id" class="awe-li" id="branch@(o.Id)">
        <td>@o.BranchName
        </td>
        <td> @o.Address
        </td>
         <td> @o.ZipCode
        </td>
        <td>@(o.Country != null ? o.Country.Name : "")
        </td>
        <td>
            <button class="awe-btn" onclick="@(Url.Awe().PopupFormAction().Url(Url.Action("Edit", "Branch", new { o.Id })).Success("edit").Height(300))">
                <span class="ico-edit"></span>
            </button>
        </td>
        <td>
@Html.Partial("deletebtn", new DelBtn{ Id = o.Id, IsDeleted = o.IsDeleted, Controller = "Branch" })
        </td>
    </tr>               
}
